{% extends "base.html" %}

{% block contents %}
    <div class="row mt-5">
        <div class="col-12">
            <form method="post" action=".">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% ifequal field.name 'contents' %}
                            <textarea class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}"></textarea>
                        {% else %}
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                               placeholder="{{ field.label }}" name="{{ field.name }}" />
                        {% endifequal %}
                    </div>
                    {% if field.errors %}
                        <span class="text-danger">{{ field.errors }}</span>
                    {% endif %}
                {% endfor %}

                <div class="row mt-3">
                    <div class="col-2 d-grid gap-2">
                        <button class="btn btn-primary" type="submit">글쓰기</button>
                    </div>
                    <div class="col-2 d-grid gap-2">
                        <button type="button" class="btn btn-secondary" onclick="location.href='/board/list/'">돌아가기</button>
                    </div>
                    <div class="col-8"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}